# POSTGRES_BACKEND
SR_PG_USER=postgres_root
SR_PG_PASSWORD=change_me
SR_PG_HOST=localhost
SR_PG_PORT=5433
SR_PG_DB=SALES_RADAR

# MINIO_BACKEND
SR_MN_USER=minio_root
SR_MN_PASSWORD=change_me
SR_MN_PORT_API=9000
SR_MN_PORT_WEB=9001
