# Settings
APP_VERSION=0.0.1
APP_INSTANCE=local
ENV_TYPE=dev

# PostgreSQL
PG_HOST=localhost
PG_USER=adapt_ed
PG_PASSWORD=adapt_ed_pass
PG_DB=adapt_ed
PG_PORT=5433
PG_SSL_MODE=disable

PG_MAX_CONNS=20
PG_MIN_CONNS=10
PG_CONN_LIFETIME=60s
PG_CONN_IDLE_TIME=60s
PG_QUERY_TIMEOUT=5m
PG_HEALTH_CHECK_PERIOD=30s
PG_PING_TIMEOUT=5s

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=adapt_ed_pass
REDIS_DB=0
REDIS_USE_SSL=false

REDIS_MAX_RETRIES=5
REDIS_TIMEOUT=10s

# MinIO
MINIO_HOST=localhost
MINIO_USER=minio_root
MINIO_PASSWORD=minio_pass
MINIO_PORT_API=9000
MINIO_PORT_WEB=9001
MINIO_BUCKET=adapt_ed

MINIO_REGION=ru-voronesh-1
MINIO_OBJECT_LOCKING=false
MINIO_FORCE_CREATE=false
MINIO_USE_SSL=false

# App
APP_SERVICE=Adapt_Ed
APP_HOST=localhost
APP_PORT=8000
APP_SECRET=change_me

# App HTTP Server
APP_HTTP_READ_TIMEOUT=10s
APP_HTTP_WRITE_TIMEOUT=10s
APP_HTTP_IDLE_TIMEOUT=120s

# App Logger
APP_IS_LOGGING=true
APP_LOG_LEVEL=info

# Observability
NODE_EXPORTER_PORT=9101
PROMETHEUS_PORT=9091
LOKI_PORT=3101
GRAFANA_PORT=3001
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
