# PostgreSQL
PG_HOST=localhost
PG_USER=adapt_ed
PG_PASSWORD=adapt_ed_pass
PG_DB=adapt_ed
PG_PORT=5433

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380

# MinIO
MINIO_USER=minio_root
MINIO_PASSWORD=minio_pass
MINIO_HOST=localhost
MINIO_PORT_API=9000
MINIO_PORT_WEB=9001
MINIO_BUCKET=adapt_ed

# App
APP_HOST=localhost
APP_PORT=8000
APP_SECRET=change_me
APP_LOGGING=true
APP_LOG_LEVEL=info

# Observability
NODE_EXPORTER_PORT=9101
PROMETHEUS_PORT=9091
LOKI_PORT=3101
GRAFANA_PORT=3001
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
