PG_USER=adapt_ed
PG_PASSWORD=adapt_ed_pass
PG_DB=adapt_ed
PG_PORT=5433

REDIS_PORT=6380
NODE_EXPORTER_PORT=9101
PROMETHEUS_PORT=9091
LOKI_PORT=3101
GRAFANA_PORT=3001
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
